html {height: 117%; overflow: auto;}
body{height: 300%;} 
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
}

body {
  background-color: rgb(31, 18, 52);
  background-repeat: no-repeat;
  
  background-position: center;
}