/* .modalBackground{
    width: 100vw;
    height: 100vh;
    background-color: green;   
} */
.modalContainer{
    color: purple;
}
.modalimg img{
    max-width: 20px;
    height: auto;
    margin-top: -430px;
}
.modalContainer button{
    margin-top: -10%;

}